
.row{
     border: 2px solid black;
     height: 200px;
}
img{
    width:100px;
    height:100px;
}
#player{
    border-right: 1px solid black;
    height: 200px;
    background-color: #f4e0ff;
}
#computer{
    border-left: 1px solid black;
    height: 200px;
    background-color: #f4e0ff;
}
.font{
    font-family: 'Iceland', cursive;
}
#result{
    font-size:40px;
}