.row{
     border: 2px solid black;
     height: 200px;
}
img{
    width:100px;
    height:100px;
}
#player{
    border-right: 1px solid black;
    height: 200px;
}
#computer{
    border-left: 1px solid black;
    height: 200px;
}